
.container {
    width: 500px;
    
    .listContainer {
        border-bottom: solid 2px black;
    }

    .total {
        text-align: right;
        color: black;
        font-style: italic;
    }
}

