
.itemContainer {
    padding-top: 15px;
    padding-bottom: 15px;
   
    p {
        color: black;
        font-size: 18px;
        font-weight: bold;
        padding: 0px;
        margin: 0px;
    
        span {
            color: default;
            font-size: 10px;
            font-weight: normal;
            font-style: italic;
        }
    }

    ul {
        padding-left: 30px; 
        margin: 0; 
        font-size: 14px;
    }
}


.bubbleContainer {
    display: grid;
    grid-template-columns: 300px auto;
    justify-content: space-between;

}

.bundleContainer {
    display: grid;
    grid-template-columns: 300px auto;
    justify-content: space-between;
}



