

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.previousOrder {
    padding: 10px;
    border: solid 2px black;
    border-radius: 8px;
    width: 500px;
    margin-bottom: 20px;
}

.button {
    width: 500px;
    height: 40px;
    color: black;
    font-weight: bold;
    background-color: transparent;
    border: solid 2px black;
    border-radius: 12px;
    cursor: pointer;
 
}
