.bundleListItem {
    border: 2px solid black;
    border-radius: 16px;
    width: 350px;
    display: grid;
    place-items: center;
    grid-template-rows: 170px 90px 1fr;

    .heading {
        display: grid;
        justify-items: center;
        margin: 0px;
        padding: 0px;

        h2 {
            margin: 0px;
            padding: 0px;
        }

        p {
            margin: 0px;
            padding: 0px;
        }
    }

    .includes {
        display: grid;
        align-items: center;

        p {
            margin: 0px;
            padding: 0px;
        }
    }
}


