

body {
    background-color: #252530;
    display: grid;
    place-items: center;
    color: #d2d1d9;
}


#dropzone {
    transition: transform 0.5s, opacity 0.5s;
    background-color: #282649;
    height: 400px;
    width: 900px;
    border: 1.5px dotted #3d3a6c;
    border-radius: 6px;
    margin-top: 60px;

    display: grid;
    place-items: center;
    align-content: center;

    .instructions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .image-options {
        margin-top: 8px;
        display: grid;
        justify-content: center;
        gap: 8px; 
    }
}

#dropzone.pulse {
    animation: pulse 1.5s infinite;
}

#image-preview {
    width: 100px;
}


#gallery-container {
    margin-top: 20px;
    width: 900px;

    p {
        color: #555557;
    }

}









@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.02);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
  