


body {
    background-color: #252530;
    display: grid;
    place-items: center;
    color: #d2d1d9;


}

#dropzone {
    background-color: #282649;
    height: 300px;
    width: 700px;
    border: 1.5px dotted #3d3a6c;
    border-radius: 6px;
    margin-top: 60px;

    display: grid;
    place-items: center;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}



#text-container {
    width: 700px;

    p {
        color: #555557;
    }

}