.recipeItem {
    height: 260px;
    width: 270px;
    background-color: #FFFFFF;
    display: grid;
    justify-content: center;
    padding: 10px;
    color: #929292;

    p {
        font-size: 14px;
        margin : 0px; 
        padding-top: 10px;
    }
}

.recipeImage {
    position: relative;
    height: 175px;
    width: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.meat, .chicken, .fish, .pepper, .kid {
    font-size: 20px;
    margin-right: 5px;
}

.meat {
    color: #ec0000;
}

.fish {
    color: #5482ff;
}

.pepper {
    color: #a11d1d;
}

.kid {
    color: #ffcbb2;
}