@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Red+Hat+Mono:wght@400;700&family=Unbounded:wght@400;700&display=swap");
@import "./variables/colors.less";

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;  
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}



// Shared styles

p, li {
  font-family: "Lato", sans-serif;
}



body {
  display: grid;
}


nav {
  background-color: @moonGray;
  border-right: solid 10px @moonDarkGray;
  font-size: 18px;
  padding-top: 25px;
  
  .navigation-items {
    list-style-type: none;

    .navigation-item {
      padding-top: 10px;
    }

    .navigation-item a {
      text-decoration: none; 
      color: @richBlack; 
    }
  }
}




main {
  background-color: @navyExtra; 
  color: white;   // ATH
  font-size: 18px;
  
  display: grid;

 

  .gallery {
    background-color: @ultraViolet;
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
  
  
    .gallery-item {
      display: grid;
      justify-content: center;

    }
  } 
}

aside {
  background-color: @moonGray;
  border-left: solid 10px @moonDarkGray;
  padding-top: 20px;

  h2 {
    text-align: center;
  }
}



.hero-section {
  display: grid;
  align-items: center;
  padding: 50px;


  .hero-image {
   
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 10px solid @oxfordBlue;    // ATH
  }
}



footer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  border-top: 10px solid @oxfordBlue;
  gap: 20px;
}
















// Desktop media query
@media only screen and (min-width: 1025px) {
  body {
    grid-template-columns: 190px 1fr 190px;
  }

  main {
    grid-template-rows: 333px 1fr 125px;
  }




  .hero-image {
    margin-right: 40px;
  }


  .hero-section {
    grid-template-areas: "hero-image p";
  
    .hero-image {
      width: 200px;
      height: 200px;
    }
  }
  

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;

    .gallery-item {
      img {
        width: 240px;
      }
    }
  }

  .planets {
    display: grid;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;

    .planet {
      img {
        height: auto;
      }
    }    
  }

  .planet {
    img {
      width: 95px;
    }
  }   



  footer {

    padding-left: 60px;
   
  
    img {
      width: 90px;
    }
  }


}




// Tablet media query
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    display: none;
  }


  main {
    grid-template-rows: 333px 1fr 125px;
  }


  .hero-image {
    margin-right: 0px;
  }

  .hero-section {
    grid-template-areas: "hero-image p";
  
    .hero-image {
      width: 200px;
      height: 200px;
    }
  }
  


  .gallery { 
    grid-template-columns: repeat(2, 240px);
    justify-content: center;
    gap: 20px;


    .gallery-item {
      img {
        width: 240px;
      }
    }

  }


  

  

  
  aside {
 
    padding-top: 30px;

    .planets {
      display: grid;
      grid-template-columns: repeat(8, auto);
      justify-content: center;
      gap: 30px;
      
      padding-top: 30px;
      padding-bottom: 20px;
      
      .planet {
        img {
          height: auto;
        }
      }    
    }
  
    .planet {
      img {
        width: 50px;
      }
    }   
  }


  
  


  footer {

    padding-left: 60px;
   
  
    img {
      width: 90px;
    }
  }


  

}







// Mobile media query
@media only screen and (max-width: 767px) {



  nav {
    display: none;
  }
 
  main {
    order: 2;
  
    grid-template-rows: 120px 1fr 350px;  
    
    footer { order: 1; }
    .gallery { order: 2; }
    .hero-section { order: 3; }
  }


  .hero-section {
    align-items: center;
    justify-items: center;

    .hero-image {
      width: 150px;
      height: 150px;
    }

    p {
      font-size: 14px;
    }
  }




  .gallery { 
    gap: 20px;

    .gallery-item {
      img {
        width: 300px;
      }
    }
  }





  aside {
    order: 1;

    h2 {
      font-size: 18px;
    }

    .planets {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      gap: 25px;
      padding-top: 30px;
      padding-bottom: 20px;
      
      .planet {
        img {
          height: auto;
          width: 70px;
        }
      }
    }
  }
  

  


  footer {

    padding-left: 40px;
    padding-right: 40px;
  
  
    img {
      width: 80px;
    }

    p {
      font-size: 15px;
    }
  }

}

