@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Red+Hat+Mono:wght@400;700&family=Unbounded:wght@400;700&display=swap");
@import "./variables/colors.less";

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}



// Shared styles

p, li {
  font-family: "Lato", sans-serif;
}

nav {
  background-color: @moonGray;
  border-right: solid 10px @moonDarkGray;
  font-size: 18px;
  padding-top: 25px;
  
  .navigation-items {
    list-style-type: none;

    .navigation-item {
      padding-top: 10px;
    }

    .navigation-item a {
      text-decoration: none; 
      color: @richBlack; 
    }
  }
}




main {
  background-color: @navyExtra; 
  color: white;   // ATH
  font-size: 18px;
  
  display: grid;
  grid-template-rows: 333px 1fr 125px;  // ATH

  .hero-section {
    display: grid;
    grid-template-areas: "hero-image p";
    align-items: center;
    padding: 50px;
  

    .hero-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      border: 10px solid @oxfordBlue;    // ATH

      margin-right: 40px;
    }

  
  }

  .gallery {
    background-color: @ultraViolet;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 50px;
    padding-bottom: 50px;

    row-gap: 20px;
    
  
    .gallery-item {
      display: grid;
      justify-content: center;
      img {
        width: 240px;
      }
    }
  }
}

aside {
  background-color: @moonGray;
  border-left: solid 10px @moonDarkGray;
  padding-top: 20px;

  h2 {
    text-align: center;
  }
 

  .planets {
    display: grid;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;

    .planet {
      img {
        width: 95px;
        height: auto;

      }
    }    
  }
}



footer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  border-top: 10px solid @oxfordBlue;
  padding-left: 60px;
  gap: 20px;

  img {
    width: 90px;
  }
}









// Desktop media query
@media only screen and (min-width: 1025px) {
  body {
    display: grid;
    grid-template-columns: 190px 1fr 190px;
  }


}

// Tablet media query
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

// Mobile media query
@media only screen and (max-width: 767px) {

}