@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Red+Hat+Mono:wght@400;700&family=Unbounded:wght@400;700&display=swap");
@import "./variables/colors.less";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

// Shared styles

// Desktop media query
@media only screen and (min-width: 1025px) {

}

// Tablet media query
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

// Mobile media query
@media only screen and (max-width: 767px) {

}