@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

html {
    height: 100%;
}

body {
    background-color: #f3f5fb;
    min-height: 100%;
    display: grid;
    justify-items: center;
 
}

#app {
    padding-top: 50px;
    width: 1100px;

    h1 {
        font-family: 'League Spartan', sans-serif;
        font-weight: 700;
        font-size: 54px; 
        color:black;
        margin: 0px;
        padding: 0px;
       
    }

    h3 {
        font-family: 'Libre Baskerville', serif;
        font-size: 20px;
        font-weight: 100;
        color:black; 
        padding-bottom: 40px;
        margin-top: 20px;
    }
}

#contact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    .contact {
        display: grid;
        grid-template-rows: 125px 60px 50px 25px;
        background-color: white;
        border-radius: 6px;
        place-items: center;
        height: 260px;
  
        .contact-thumbnail {
            font-family: 'League Spartan', sans-serif;
            display: grid;
            width: 80px;
            height: 80px;
            background-color: #21cca2;
            border-radius: 50%;
            font-weight: 600;
            color: white;
            font-size: 30px;
            text-align: center;
            line-height: 85px;
        }

        .contact-heading {
            text-align: center;
            margin-bottom: 15px;

            .contact-name {
                font-family: 'League Spartan', sans-serif;
                font-size: 20px;
                font-weight: 700;
                color: black;
                margin: 0px;
            }
            .contact-small-text {
                margin: 0px;
                padding: 0px;
            }
        }

        .contact-small-text {
            font-family: 'Libre Baskerville', serif;
            color: #aeaeae;
            font-size: 10px;
            margin: 0px;
            padding: 2px;
        }

        .more-info {
            margin-top: 10px;
            text-align: center;
            margin-bottom: 20px;

            .key-contact-entry {
                padding: 5px;

                .contact-small-text {
                    padding: 0px;
                }
            }

            .key-contact-heading {
                font-family: 'League Spartan', sans-serif;
                margin-top: 18px;
                font-size: 14px;
                font-weight: 900;
                color: black;
                margin-bottom: 3px;
            }
        }
   
        .icon-container {
            display: grid;
            place-content: center;
            grid-template-columns: repeat(4, auto);
            gap: 20px;
          

            span {
                color: white;
                padding: 5px;
                background-color: #21cca2;
                border-radius: 8px;
            }
        }  
    }
}


